.tool-bar {
    -fx-border-width: 0 0 0.1em 0;
    -fx-background-color: #3C3F41;
}

.button:hover {
    -fx-background-color: #4C5052;
}

.code-area {
    -fx-background-color: #2b2b2b;
}

.code-area .text {
    -fx-fill: #A8B5B4;
    -fx-font-size: 1.6em;
}

.styled-text-area .line-highlighter {
    -fx-fill: #323232;
}

.lineno {
    -fx-background-color: #313335;
    -fx-font-size: 1em;
    -fx-font-weight: bolder;
}

.exe-info {
    -fx-spacing: 0.2em;
    -fx-padding: 0.3em;
}

.split-pane .split-pane-divider {
    -fx-pref-width: 0.1em;
}

.keyword {
    -fx-fill: #c77032 !important;
}
