.tool-bar {
    -fx-background-color: #3C3F41;
}

.button:hover {
    -fx-background-color: #4C5052;
}
.code-area{
    -fx-background-color: #2b2b2b;
}
.code-area .text {
    -fx-fill: #A8B5B4;
    -fx-font-size: 1.6em;
}

.keyword {
    -fx-fill: #c77032;
    -fx-font-weight: bold;
}

.styled-text-area .line-highlighter {
    -fx-fill: #323232;
}

.lineno {
    -fx-background-color: #313335;
    -fx-font-size: 15px;
    -fx-font-weight: bolder;
}